<header>
  <nav class="header-nav">
    <h1><a class="header-title" href="/">Muxima Explorer</a></h1>
    <ul>
      <li><a href="/">Inicio</a></li>      
      <li><a href="/categories">Pesquisar Categorias</a></li>
      <li><a href="/categories/new">Gerir Categorias</a></li>     
      <li><a href="/places">Pesquisar Lugares</a></li>           
      <li><a href="/places/new">Gerir Lugares</a></li>
      <li><a href="/users/dashboard">Gerir Utilizadores</a></li>      
      <li><a href="/users/logout" >Logout - <%= user.name %></a></li>      
    </ul>
  </nav>
</header>
  