
<h2 class="page-header">Editar Utilizadores</h2>
<form action="/admins/<%= admin.id %>?_method=PUT" method="POST">
  <%- include('_form1_fields') %>
  <div class="form-row form-row-end btn-row">
  <a class="btn btn-danger" href="/admins/dashboard">Cancelar</a>
  <button class="btn btn-primary" type="submit">Atualizar</button>
</div>
</form>
